html {
    @apply bg-primary bg-gradient-to-b from-primary via-primary/70 to-black/30 min-h-screen;
    &.dark {
        @apply bg-darkmode-700 from-darkmode-800 via-darkmode-800/70;
        body {
            @apply text-slate-300;
            *,
            ::before,
            ::after {
                @apply border-white/5;
            }
        }
    }
    body {
        @apply antialiased font-geist text-sm text-slate-700;
    }
}




.rainbow-underline{
    position: relative;
}
.rainbow-underline:before{
    content: "";
    position: absolute;
    height: 0.1em;
    padding: 0.1em;
    width: 100%;
    background: linear-gradient(
        to right,
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7
    );
    background-size: 200% 100%;
    bottom: -0.1em;
    left: -0.1em;
    transition: 1.5s;
    opacity: 0;
}
.rainbow-underline:hover:before{
    background-position: 100% 0;
    opacity: 50;
}